Package: homeseer
Version: __VERSION__
Section: misc
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: homeseer.sh
Description: HomeSeer Home Automation Server (Linux Debian Package)
Depends: mono-complete,mono-devel,mono-vbnc,flite,aha,ffmpeg,alsa-utils
Recommends: chromium-browser,alsa-base
